html {
    background-color: black;
}
.image {
    flex: 0 1 auto;
    max-width: auto;
    max-height: 1080px;
    object-fit: cover;
    margin: 0px;
  }

.images_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}